$color_dark: #474747;
$color_green: #BADA55;
$color_red: #FF3300;
$color_white: #fff;
$border-radius: 0.2rem;
$box-shadow: 0 0 10px rgba(0,0,0,0.5);
$padding: 1rem;

.cookie-consent-popup,
.cookie-consent-popup-details {
    font-size: 1rem;
    z-index: 1000000000;
    font-family: sans-serif;
    button {
        padding: 0.4rem 0.6rem;
        cursor: pointer;
    }
    .buttons {
        display: flex;
        margin: 0.2rem 0;
        > *:not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}

.cookie-consent-popup {
    position: fixed;
    left: 0;
    bottom: 0;

    padding: $padding;

    display: flex;
    flex-direction: column;
    > .disclaimer,
    > .buttons {
        margin-bottom: 0.5rem;
    }
    figure {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        overflow: hidden;
        margin: 0;
        cursor: pointer;
        user-select: none;
        img {
            transform: translate(0, -1.5rem);
        }
    }
    &:not(.active){
        > div, > a {
            display: none;
        }
    }
    &.active {
        background-color: $color_white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        > div,
        > a {
            display: flex;
        }
        figure {
            display: none;
        }
    }
}

.cookie-consent-popup-details {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    &.active {
        opacity: 1;
        pointer-events: all;
    }

    form {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: $padding;
        background-color: $color_white;
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 720px) {
            max-width: calc(100vw - 4rem);
        }

        > strong, 
        > .disclaimer,
        > .buttons,
        > a {
            text-align: center;
            margin-bottom: 1rem;
        }
        .services {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: left;
            .service {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                button {
                    opacity: 0.5;
                    width: 5rem;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
