$color_dark: #474747;
$color_green: #28a745;
$color_red: #dc3545;
$color_grey: #eee;
$color_white: #fff;
$border-radius: 0.2rem;
$box-shadow: 0 0 10px rgba(0,0,0,0.5);
$padding: 1rem;

@mixin mobile {
    @media (max-width: 720px) {
        @content;
    }
}

@mixin button($color_a: $color_dark, $color_b: $color_white) {
    border: 2px solid $color_b;
    color: $color_a;
    background: $color_b;
    transition: all 0.1s ease-out;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor: unset;
    &:hover:not(:disabled):not(.active) {
        cursor: pointer;
        background: $color_a;
        color: $color_b;
    }
}

.cookie-consent-popup,
.cookie-consent-popup-details {
    font-size: 1rem;
    z-index: 1000000000;
    font-family: sans-serif;
    button {
        padding: 0.4rem 0.6rem;
        cursor: pointer;
        @include button;
        &.allow {
            @include button($color_white, $color_green);
        }
        &.disallow {
            @include button($color_white, $color_red);
        }
    }
    .buttons {
        display: flex;
        margin: 0.2rem 0;
        > *:not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}

.cookie-consent-popup {
    position: fixed;
    left: 0;
    bottom: 0;

    padding: $padding;

    display: flex;
    flex-direction: column;
    > .disclaimer,
    > .buttons {
        margin-bottom: 0.5rem;
    }
    figure {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        overflow: hidden;
        margin: 0;
        cursor: pointer;
        user-select: none;
    }
    &:not(.active){
        > div, > a {
            display: none;
        }
    }
    &.active {
        background-color: $color_white;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        > div,
        > a {
            display: flex;
        }
        > a {
            font-size: 0.8rem;
        }
        figure {
            display: none;
        }
    }
}

.cookie-consent-popup-details {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    &.active {
        opacity: 1;
        pointer-events: all;
    }

    form {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        padding: $padding;
        background-color: $color_white;
        max-width: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: calc(100vh - 4rem);
        overflow-y: scroll;
        @include mobile {
            max-width: calc(100vw - 4rem);
        }

        > strong, 
        > .disclaimer,
        > .buttons,
        > a {
            text-align: center;
            margin-bottom: 1rem;
        }
        > a {
            margin-top: 1rem;
            font-size: 0.8rem;
        }
        .services {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: left;
            .type {
                margin-top: 1rem;
                background: $color_dark;
                color: $color_white;
                padding: 0.4rem 0.8rem;
            }
            .service {
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 0.8rem;
                background: $color_grey;
                @include mobile {
                    flex-direction: column;
                    > .buttons {
                        margin-top: 0.5rem;
                    }
                }
                .details {
                    display: flex;
                    flex-direction: column;
                }
                button {
                    width: 5rem;
                    &:disabled, 
                    &:not(.active):not(:hover) {
                        opacity: 0.2;
                    }
                    &.active:not(:disabled) {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

iframe {
    &.cookie-consent-blocked {
        display: none;
    }
}
figure.cookie-consent-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background: $color_dark;
    color: $color_white;
    > button {
        margin-top: 1rem;
        cursor: pointer;
    }
}
